.home-container{
    padding: 30px;
}
.table-container{
    width: 90vw;
    border: 2px solid #ffffff50;
    border-radius: 20px;
    overflow: auto;
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    min-width: 200px;
    border: 1px solid #ffffff50;
    padding: 8px;
    text-align: left;
}

th{
    color: rgb(0, 166, 255);
}